<div class="buffer row">

  <div class="col s12 settings-panel">

  <!-- Switch -->
  <div class="switch">
    <h4>Enable File Management support</h4>
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>

  <!-- Switch -->
  <div class="switch">
    <h4>Toggle Auto-Save Draft Text</h4>
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>

  <!-- Disabled Switch -->
  <div class="switch">
    <h4>Enable internet connection</h4>
    <label>
      Off
      <input disabled type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>

    <label>App Languages</label>
    <select class="browser-default">
      <option value="" disabled selected>Choose your language</option>
      <option value="1">English</option>
      <option value="2">German</option>
      <option value="3">Spanish</option>
    </select>

  </div>

</div>