.progress-bar {
    width: 100%;
    background-color: #c7c7c7;
    border: .1rem solid #000000;
    height: 1.5rem;
    margin-top: 1rem;
    margin-bottom:1.5rem;
}
.progression {
    background-color: #6cc65e;
    height: 1.25rem;
    width: 0%;
    text-align: center;    
}

.control-panel {
    width: 100%;
    height: 4rem;
    border: .1rem solid #000000;
    border-radius: 10px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #c7c7c7;
    display: inline-flex;
}

.side-panels {
    width:60%;
    display: inline-flex;
    height: 100%;
}
.center-panel {
    border-left: #000000 solid .1rem;
    width:60%;
    display: inline-flex;
    height: 100%;
    border-right: #000000 solid .1rem;
}

.menu-buffer {
    width: 40%;
    height: 100%;
}
.menu-option {
    width: 60%;
    height: 100%;
}

.center-panel-buffer {
    width: 30%;
    height: 100%;
}
.button-grouping {
    width: 70%;
    height: 100%;
}
.btns {
    border-radius: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;    
    padding-left: .8rem;
    padding-top: .58rem;
}
.play-btn {
    background-color: #6cc65e;
}
.stop-btn {
    background-color: #d82424;
}
.pause-btn {
    background-color: #2484d8;
}

/* .music-info {
    border: #cccccc .1rem solid;
} */