.buffer {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.row .col.s6.file-column {
    width: 25%;
    background-color: #000000;
    color: #ffffff;
    height: 20rem;
}

.row .col.s6.configuration-column {
    width: 75%;
    background-color: #fafafa;
    color: #000000;
    height: 20rem;
}