.buffer {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.row .col.s6.file-column {
    width: 25%;
    background-color: #7f0000;
    color: #ffffff;
    height: 20rem;
}

.row .col.s6.configuration-column {
    width: 75%;
    background-color: #fafafa;
    color: #000000;
    height: 20rem;
}

.column-header-controls {
    width: 100%; 
    background-color: #b71c1c;
    height: 5rem;
}