<div class="row upper-buffer">
  <div class="col s12 map-backdrop">
    <div class="map-controls">
      <div class="compass-controls">
          <input placeholder="Placeholder" id="longitude" type="text" class="validate" [(ngModel)]="longitude">
          <label for="longitude">longitude</label>
          <input placeholder="Placeholder" id="latitude" type="text" class="validate" [(ngModel)]="latitude">
          <label for="latitude">latitude</label>
      <!-- </div>
      <div class="range-field"> -->
          <label>Zoom Level: {{zoom}}</label>
          <input type="range" id="test5" min="0" max="10" [(ngModel)]="zoom"/>
      </div>  
    </div>
    <!-- <div class="map-controls-search">

    </div> -->
    <div class="internal-map">
    <aol-map [width]="'720px'" [height]="'350'">
      <aol-view [zoom]="zoom">
          <aol-coordinate [x]="latitude" [y]="longitude" [srid]="'EPSG:4326'"></aol-coordinate>
      </aol-view>
      <aol-layer-tile>
          <aol-source-osm></aol-source-osm>
      </aol-layer-tile>
    </aol-map>
    </div>
  </div>
</div>
