<div class="row upper-buffer">
    <div class="col s12">
        <div class="additional-controls">
            <div class="button-grouping">
                <div class="btns stop-btn" (click)="deleteText()"><i class="fa fa-trash"></i></div> Delete
                <div class="btns play-btn pad-left"><i class="fa fa-floppy-o"></i></div> Save
                <div class="btns pause-btn pad-left" (click)="getURL()"><i class="fa fa-plus-circle"></i></div> New
            </div>
        </div>
        <div class="quill-container">
            <quill-editor [(ngModel)]="text"></quill-editor>
        </div>
    </div>
</div>