
<div class="row upper-buffer">
  <div class="col s12" >

    <video width="1060" height="550" controls class="video-player">
      <source src="assets/test_vid.mp4" type="video/mp4">
      <!-- <source src="movie.ogg" type="video/ogg"> -->
    Your browser does not support the video tag.
    </video> 

  </div>
  <!-- <div class="col s12 video-player-controls">
    <div class="central-contrls">
      <div class="file-field input-field">
        <div class="btn">
          <span>Select File</span>
          <input type="file"> -->
          <!-- <input type="file" (change)="onHandleUpload($event)"> -->
        <!-- </div>
        <div class="video-player-options"> -->
          <!-- <input class="file-path validate" type="text" [value]="songTitle"> -->
          <!-- <input class="file-path validate" type="text">
        </div>
    </div>
  </div>
  </div> -->
</div>