
<div class="row upper-buffer">
  <div class="col s12 video-player-position" *ngIf="hasFileLoaded">

    <!-- <video width="1020" height="450" controls class="video-player">
      <source [src]="videoFile" type="video/mp4"> -->
      <!-- <source src="movie.ogg" type="video/ogg"> -->
      <!-- Your browser does not support the video tag.
    </video> -->
    <video poster="assets/sample-1.jpg" id="player" width="1020" height="450" playsinline controls
    data-plyr-config='{ "title": "This is an example video", "volume": 1, "debug": true }' class="video-player">
      <source [src]="videoFile" type="video/mp4">
      <!-- <source [src]="videoFile" type="video/webm"> -->
  
      <!-- Captions are optional -->
      <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default> -->
    </video>
    
  </div>
  <div class="row">
  <div class="col s12 ">
    <desk-option-menu [menuType]="isVideoPlayer" (eventClick)="handleVideoSelection($event)"></desk-option-menu>
  </div>
  </div>
</div>
