
.nav-bar-title {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-style {
    background-color: #d82424;
}

.swiss-flag {
    color: #fafafa;
    display:inline-block;
}

.dropdown-content {
    /* display: block; /* do not change - need for testing purposes*/
    /* position: relative; */
    /* opacity: 0; */
    margin-top:4.6%;
    margin-left: 91%; /* do not change - need for testing purposes*/
    background-color: #fafafa;
    width: 150rem;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #000000;
}

.make-real {
    display:block;
}


/* .ul.dropdown-content:active {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
} */