<div class="row">
  <div class="col s12">
    <div class="col s6">

      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="assets/sample-office.jpg">
              <span class="card-title">Card One</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This isn't a link</a>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col s6">


      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="assets/sample-1.jpg">
              <span class="card-title">Card Two</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This isn't a link</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>