<div>
  <ul class="collection with-header">
      <li class="collection-header"><h4>My Music</h4></li>
      <li class="collection-item"><div>Search Music<a (click)="displaySearch()" class="secondary-content"><i class="menu-icons fa fa-search"></i></a></div></li>
      <li class="collection-item" [ngClass]="{'search-function': (isSearchDisplayed==false), 'reveal-search': (isSearchDisplayed==true)}"><input type="file" name="img" multiple></li>
      <li class="collection-item"><div>Select From Songs<a href="#!" class="secondary-content"><i class=" menu-icons fa fa-indent"></i></a></div></li>
      <li class="collection-item search-function"><input type="file" name="img" multiple></li>
      <li class="collection-item"><div>Change Animation<a href="#!" class="secondary-content"><i class=" menu-icons fa fa-picture-o"></i></a></div></li>
      <li class="collection-item search-function"><input type="file" name="img" multiple></li>
      <li class="collection-item"><div>Edit Files<a href="#!" class="secondary-content"><i class=" menu-icons fa fa-cog"></i></a></div></li>
      <li class="collection-item search-function"><input type="file" name="img" multiple></li>
  </ul>
</div>