<div id="myModal" class="mod-modal" [ngStyle]="{'display': initialState}" >

  <!-- Modal content -->
  <div class="modal-content pop" [@popupState]="initialState">
    <div class="header">
      <h4 class="modal-title">Swiss Army App</h4>
      <div class="close" (click)="spanOnclick()">&times;</div>
    </div>

    <div class="content">
        <ul class="collection with-header">
            <li class="collection-header" id="test"><h4>Test Modal</h4></li>
            <li class="collection-item">Test 1</li>
            <li class="collection-item">Test 2</li>
            <li class="collection-item">Test 3</li>
            <li class="collection-item">Test 4</li>
        </ul>
    </div>

    <div class="footer">

    </div>
  
  </div>

</div>
