 /* The Modal (background) */
.mod-modal {
  bottom: 0;
  left: 0;
  /* position: absolute; */
  right: 0;
  top: 0;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
  background-color: rgba(10, 10, 10, 0.5);
}
.pop {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  position: relative;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fafafa;
    margin: 15% auto; /* 15% from the top and centered */
    /* padding: 20px; */
    border: 1px solid #888;
    height: 475px;
    width: 400px; /* Could be more or less, depending on screen size */
}

.icon-container {
    display: inline-block;
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #fafafa;
}

.header {
    background-color: #d82424;
    height: 20%;
}

.modal-title {
    display: inline-block;
    color: #fafafa;
    margin-left:1rem;
}

.content {
    height: 80%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.footer {
    height: 20%;
    background-color: #d82424;
}

/* The Close Button */
.close {
    display: inline-block;
    color: #fafafa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 1rem;
    margin-right: 1rem;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.modal-error {
    display: inline-block;
    border: #d82424;
    color: #d82424;
    padding: 1rem;
}

.media-options {
    margin-top: 1rem;
}

.binary-options {
    padding: 1rem;
    border: #aaa .1rem solid;
}