 /* The Modal (background) */
.mod-modal {
  bottom: 0;
  left: 0;
  /* position: absolute; */
  right: 0;
  top: 0;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
  background-color: rgba(10, 10, 10, 0.5);
}
.pop {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  position: relative;
}

/* Modal Content/Box */
.modal-content {
    background-color: #d82424;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 475px;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
